<a href="https://colab.research.google.com/github/zachtahajian5/pandas-tour/blob/main/pandas_demo_5_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [104]:
import pandas as pd
import random
import os
import sqlite3
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [105]:
import sys
sys.path.append("/content/drive/MyDrive/Workflow stuff/io utils")

In this 5th installment of the pandas mastery tour, we're going to covering common mutations. ✊

The 4 mutations we'll be covering are:
1. assign()
2. drop()
3. rename()
4. sort_values()

Let's start with demonstrating .assign()

In [106]:
from io_utils import load_csv
df_interm = load_csv("/content/drive/MyDrive/Workflow stuff/pandas_mini_projects_data.zip (Unzipped Files)/mutations.csv")

✅ Loaded: /content/drive/MyDrive/Workflow stuff/pandas_mini_projects_data.zip (Unzipped Files)/mutations.csv
   Units  UnitPrice
0     20      59.33
1     85      65.64
2     85      72.32
3      1      43.87
4     66      97.01

We'll now use the .assign function to add a column to our DataFrame. For this exercise, we'll add a column which takes the projected revenue from the product if it sells out. We'll call the column Projected Revenue and it will be the multiplication of columns Unit and Unit Price

In [107]:
df_projected = df_interm.assign(Projected_Revenue = lambda x: x["Units"] * x["UnitPrice"])
df_projected = df_projected.rename(columns={"Projected_Revenue":"Projected Revenue"})
print(df_projected.head())

   Units  UnitPrice  Projected Revenue
0     20      59.33            1186.60
1     85      65.64            5579.40
2     85      72.32            6147.20
3      1      43.87              43.87
4     66      97.01            6402.66

Now we'll drop a column and store it in a temporary DataFrame object.

In [108]:
df_temp_drop = df_interm.drop(columns="Units")
print(df_temp_drop.head())

   UnitPrice
0      59.33
1      65.64
2      72.32
3      43.87
4      97.01

We'll demonstrate the rename operation by renaming "Units" to "Units Sold". We'll update our existing DataFrame this time.

In [109]:
df_interm = df_interm.rename(columns={"Units":"Units Sold"})
print(df_interm.head())

   Units Sold  UnitPrice
0          20      59.33
1          85      65.64
2          85      72.32
3           1      43.87
4          66      97.01

Finally, we'll use the sort_values method to sort by Units sold in descending order. In order to do that, we'll have to reverse the default argument for sorting (default is ascending = True)

In [110]:
df_sorted = df_interm.sort_values(by="Units Sold", ascending = True)
print(df_sorted.head(10))

    Units Sold  UnitPrice
3            1      43.87
29           1      82.29
12           2      12.77
25           9      13.25
14          10      96.61
30          11      25.81
18          12      31.41
21          12      78.60
41          12      19.52
13          13      72.37

In [111]:
df_sorted_other = df_interm.sort_values(by="UnitPrice", ascending=False)
print(df_sorted_other.head(10))

    Units Sold  UnitPrice
39          59      98.67
4           66      97.01
14          10      96.61
9           77      91.81
49          19      87.27
20          50      85.60
29           1      82.29
19          86      81.28
28          56      79.52
21          12      78.60

In [115]:
df_sorted_projected = df_projected.sort_values(by="Projected Revenue", ascending=False)
print(df_sorted_projected.head())

    Units  UnitPrice  Projected Revenue
9      77      91.81            7069.37
19     86      81.28            6990.08
4      66      97.01            6402.66
2      85      72.32            6147.20
39     59      98.67            5821.53