<a href="https://colab.research.google.com/github/zachtahajian5/pandas-tour/blob/main/pandas_demo_4_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import random
import os
import sqlite3
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In this portion of the pandas mastery tour, we're going to be dialing in on Selecting & Filtering. ðŸ˜€

We'll use:

1. .loc
2. .iloc
3. .query
4. .isin
5. .str.contains()

In [ ]:
df_raw = pd.read_csv("/content/drive/MyDrive/Workflow stuff/pandas_mini_projects_data.zip (Unzipped Files)/filtering.csv")
df_interm = df_raw.copy()

print(df_interm.head())

  Region       Month  Units
0   East  2025-01-01     14
1   West  2025-01-02     34
2  North  2025-01-03     40
3  South  2025-01-04     28
4   East  2025-01-05     45

In [ ]:
print(df_interm.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Region  100 non-null    object
 1   Month   100 non-null    object
 2   Units   100 non-null    int64
dtypes: int64(1), object(2)
memory usage: 2.5+ KB
None

In [ ]:
print(df_interm.describe())

            Units
count  100.000000
mean    23.190000
std     13.120032
min      1.000000
25%     14.000000
50%     23.000000
75%     33.000000
max     48.000000

Our usage of .loc will produce a DataFrame that keeps all columns, but only keeps rows which contain both "East" for the Region column and numbers greater than 20 for the Units column.

In [ ]:
df_East_twenty_plus = df_interm.loc[(df_interm["Region"] == "East") & (df_interm["Units"]>= 20), ["Region", "Units"]]
print(df_East_twenty_plus)

   Region  Units
4    East     45
12   East     25
24   East     25
28   East     35
40   East     30
48   East     39
56   East     35
68   East     22
76   East     25
88   East     20
92   East     30

We'll use iloc to keep select specific rows and columns. We'll print the result to verify.

In [ ]:
df_my_fav_rows = df_interm.iloc[[25, 50, 75], [0,2]]
print(df_my_fav_rows)

   Region  Units
25   West     46
50  North     26
75  South     19

Now we'll use df.query to produce the same result as we did with .loc, but in a much more concise way. (For us and our fellow developers! ðŸ˜ƒ

In [ ]:
# Define  - REPLACE THIS WITH YOUR ACTUAL  = {'Region': ['East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'Nor, 45, 11, 14, 19, 16, 13, 17, 20, 25, 10, 15, 12, 18, 11, 14, 19, 16, 13, 17, 20, 25, 46, 15, 12, 35, 11, 14, 19, 16, 13, 17, 20, 25, 10, 15, 30, 20, 11, 14, 19, 16, 13, 17, 39, 35, 10, 26, 12, 18, 11, 14, 35, 16, 13, 17, 20, 22, 10, 15, 12, 18, 11, 14, 19, 16, 13, 17, 25, 25, 10, 15, 19, 18, 11, 14, 19, 16, 13, 17, 20, 30, 10, 15, 12, 18, 11, 14

df_east_twenty_plus_q = df_interm.query('Region == "East" and Units >= 20')
print(df_east_twenty_plus_q)

   Region       Month  Units
4    East  2025-01-05     45
12   East  2025-01-13     25
24   East  2025-01-25     25
28   East  2025-01-29     35
40   East  2025-02-10     30
48   East  2025-02-18     39
56   East  2025-02-26     35
68   East  2025-03-10     22
76   East  2025-03-18     25
88   East  2025-03-30     20
92   East  2025-04-03     30

We can use .isin to create a boolean mask that will act as a row selector when we use it as a key for our DataFrame.

In [17]:
bool_mask = df_interm["Region"].isin(["East"])
print(bool_mask)

0      True
1     False
2     False
3     False
4      True
      ...
95    False
96     True
97    False
98    False
99    False
Name: Region, Length: 100, dtype: bool

In [20]:
#let's create an optional self-filtering system.

print(bool_mask[bool_mask])

0     True
4     True
8     True
12    True
16    True
20    True
24    True
28    True
32    True
36    True
40    True
44    True
48    True
52    True
56    True
60    True
64    True
68    True
72    True
76    True
80    True
84    True
88    True
92    True
96    True
Name: Region, dtype: bool

We'll now filter the DataFrame with row selector, bool_mask, as the key. We'll assign the resulting DataFrame to filtered_df

In [18]:
filtered_df_interm = df_interm[bool_mask]
print(filtered_df_interm)

   Region       Month  Units
0    East  2025-01-01     14
4    East  2025-01-05     45
8    East  2025-01-09     18
12   East  2025-01-13     25
16   East  2025-01-17     15
20   East  2025-01-21      9
24   East  2025-01-25     25
28   East  2025-01-29     35
32   East  2025-02-02     16
36   East  2025-02-06      6
40   East  2025-02-10     30
44   East  2025-02-14      7
48   East  2025-02-18     39
52   East  2025-02-22     17
56   East  2025-02-26     35
60   East  2025-03-02      5
64   East  2025-03-06     17
68   East  2025-03-10     22
72   East  2025-03-14     12
76   East  2025-03-18     25
80   East  2025-03-22      6
84   East  2025-03-26     17
88   East  2025-03-30     20
92   East  2025-04-03     30
96   East  2025-04-07     13

Finally, we're going to demonstrate the str.contains() method.

In [23]:
bool_str_mask = df_interm["Region"].str.contains("outh")
bool_str_mask_two = df_interm["Region"].str.contains("st")

Notice how our second .str.contains() should produce a boolean series that has truthy values for column values "East" AND "West"

In [24]:
print(bool_str_mask_two)

0      True
1      True
2     False
3     False
4      True
      ...
95    False
96     True
97     True
98    False
99    False
Name: Region, Length: 100, dtype: bool

Let's look at the filtered DataFrame using the second boolean mask we made as the row selector.

In [26]:
filtered_df_str = df_interm[bool_str_mask_two]
print(filtered_df_str)

   Region       Month  Units
0    East  2025-01-01     14
1    West  2025-01-02     34
4    East  2025-01-05     45
5    West  2025-01-06     48
8    East  2025-01-09     18
9    West  2025-01-10     18
12   East  2025-01-13     25
13   West  2025-01-14     31
16   East  2025-01-17     15
17   West  2025-01-18     28
20   East  2025-01-21      9
21   West  2025-01-22     21
24   East  2025-01-25     25
25   West  2025-01-26     46
28   East  2025-01-29     35
29   West  2025-01-30      4
32   East  2025-02-02     16
33   West  2025-02-03     19
36   East  2025-02-06      6
37   West  2025-02-07      1
40   East  2025-02-10     30
41   West  2025-02-11     42
44   East  2025-02-14      7
45   West  2025-02-15     33
48   East  2025-02-18     39
49   West  2025-02-19      7
52   East  2025-02-22     17
53   West  2025-02-23      4
56   East  2025-02-26     35
57   West  2025-02-27     28
60   East  2025-03-02      5
61   West  2025-03-03     35
64   East  2025-03-06     17
65   West  2025-03-07     41
68   East  2025-03-10     22
69   West  2025-03-11      3
72   East  2025-03-14     12
73   West  2025-03-15     11
76   East  2025-03-18     25
77   West  2025-03-19     46
80   East  2025-03-22      6
81   West  2025-03-23     15
84   East  2025-03-26     17
85   West  2025-03-27     20
88   East  2025-03-30     20
89   West  2025-03-31     48
92   East  2025-04-03     30
93   West  2025-04-04     31
96   East  2025-04-07     13
97   West  2025-04-08     18