<a href="https://colab.research.google.com/github/zachtahajian5/pandas-tour/blob/main/pandas_demo_3_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import random
import os
import sqlite3
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In this part of the pandas tour sequence, we're going to be going into the core of inital data 'poking' and iniital exploratory analysis.

We'll demonstrate the following:

1. .head()
2. .tail()
3. .info()
4. .describe()
5. .value_counts()
6. DataFrame attributes such as shape, columns, and index

In [7]:
df_raw = pd.read_csv("/content/drive/MyDrive/Workflow stuff/pandas_mini_projects_data.zip (Unzipped Files)/exploration.csv")
df_int = df_raw.copy()

We'll display the first 3 and last 3 rows from our DataFrame now using .head() and .tail()

In [8]:
print("first 3 rows:")
print(df_int.head())
print()
print("last 3 rows:")
print(df_int.tail())

first 3 rows:
  Region  Revenue  Units
0    NaN     1655     93
1     EU      542     22
2     AS      788     27
3  Other     1219    197
4    NaN     1379     24

last 3 rows:
   Region  Revenue  Units
95  Other      828    157
96    NaN     2958     46
97     EU     1693     40
98     AS     1132     73
99  Other     1186     33

We'll now get a bunch of useful information about our DataFrame using the .info method.

In [10]:
print(df_int.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Region   75 non-null     object
 1   Revenue  100 non-null    int64
 2   Units    100 non-null    int64
dtypes: int64(2), object(1)
memory usage: 2.5+ KB
None

We'll now do use .value_counts on one of our columns to get the highest frequency values in that column.

In [44]:
#picking random column in our DataFrame

import random

#random_number = random.randint(1,3)
#print(random_number)

#random number was 1

print(df_int["Region"].value_counts())

Region
EU       25
AS       25
Other    25
Name: count, dtype: int64

We'll then use .describe() to provide a statistics summary on our DataFrame object.

In [45]:
print(df_int.describe())

           Revenue       Units
count   100.000000  100.000000
mean   1767.550000  106.570000
std     759.648661   57.682386
min     542.000000   10.000000
25%    1110.750000   56.750000
50%    1746.000000  102.500000
75%    2430.750000  153.500000
max    2989.000000  197.000000

ðŸ™‚ Finally we'll grab some metadata attributes on our DataFrame.

In [46]:
print(df_int.shape)
print(df_int.columns)
print(df_int.index)

(100, 3)
Index(['Region', 'Revenue', 'Units'], dtype='object')
RangeIndex(start=0, stop=100, step=1)