<a href="https://colab.research.google.com/github/zachtahajian5/pandas-tour/blob/main/pandas_demo_1_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import random
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Workflow stuff/pandas_mini_projects_data.zip (Unzipped Files)/overview.csv")

print(df)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
    A         B
0  92  0.308200
1  51  0.683794
2  56  0.903938
3   5  0.903309
4  65  0.635780
5  52  0.556421
6  96  0.035178
7  85  0.291978
8  92  0.910906
9  57  0.553854

Now that we've imported our raw data for this project, it's time to get to work!

  First, we're going to demonstrate our ability to
  extract a column from our Dataframe and treat it as a Series.

In [ ]:
series_demo = df["A"]
print("Series from column A in df:")
print("\n")
print(series_demo.head())

Series from column A in df:


0    92
1    51
2    56
3     5
4    65
Name: A, dtype: int64

Above we've printed  our Series containing column A. We used .head() at the end of our print statement so that we only printed the first 5 values of our Series.  This way we don't clutter the notebook.\

We will also construct a Series from a  small list of random numbers to  demonstrate a simple Series construction.

In [ ]:
small_list = [random.randint(1, 100) for i in range(3)]
series_rand= pd.Series(small_list, name ="Series from rndint")
print(series_rand)

0    59
1    86
2    74
Name: Series from rndint, dtype: int64

Now that we've constructed a Series manually, let's go ahead and construct a DataFrame manually as well. Our make-shift DataFrame will be coincidentially created from a dictionary we made on the spot.

In [ ]:
#creating an arbitrary dictionary for DataFrame construction
random_dict = {"lucky_numbers":[random.randint(1, 50) for i in range(3)], "unlucky numbers":[random.randint(1,50) for i in range(3)]}
print(random_dict)

{'lucky_numbers': [23, 18, 16], 'unlucky numbers': [14, 1, 15]}

In [ ]:
#constructing the DataFrame from makeshift dict

makeshift_df = pd.DataFrame(random_dict)
print(makeshift_df)

   lucky_numbers  unlucky numbers
0             23               14
1             18                1
2             16               15

The last stop on this portion of the Pandas Mastery Tour is vectorized operations.

You see, a Series in pandas is actually a 1-D vector. That can be visualized by looking at some arbritrary Series, 'x': [1, 2, 3]. If viewed vertically instead of horizontally, we can see that [1, 2, 3] is actually a vector.

If a Series is a vector, then a DataFrame is simply a collection of vectors. That means panadas can perform ulta-fast vectorized operations on columns in a DataFrame.

Let's demonstrate that.

In [ ]:

#scalar multiplication of a Series(vector) using a scalar quantity

scalar_demo = pd.Series([10,20,30], name = "x" )
print(scalar_demo * 3)

0    30
1    60
2    90
Name: x, dtype: int64

In [ ]:
 # column(vector) addition
 #we create new column, C, to be the sum of vector A and B

 df_vad =pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [10, 20, 30, 40]
})
print(df_vad)

   A   B
0  1  10
1  2  20
2  3  30
3  4  40

In [ ]:
#creating column c that holds sum of vector add a and b

df_vad["C"] = df_vad["A"] + df_vad["B"]
print(df_vad)

   A   B   C
0  1  10  11
1  2  20  22
2  3  30  33
3  4  40  44